/etc/ssh/ssh_config

CheckHostIP no
StrictHostKeyChecking no
Port 32600
TCPKeepAlive yes
Compression yes
ConnectTimeout 10
Protocol 2,1
Cipher 3des
Ciphers aes128-cbc,3des-cbc,blowfish-cbc,cast128-cbc,arcfour,aes192-cbc,aes256-cbc
EscapeChar ~
GSSAPIAuthentication yes




